<div id="editUser" ng-controller="editUserController">
	<div class="head" ng-include="'/angularJs03/src/app/personalCenter/public/header.html'"></div>
	<div class="box">
		<div class="left" flex-test></div>
		<div class="right">
			<table class="table">
				<tbody>
					<tr>
						<td>用户名：</td>
						<td><input type="text" ng-model="userName" /></td>
					</tr>
					<tr>
						<td>密码：</td>
						<td><input type="password" ng-model="userPwd" /></td>
					</tr>
					<tr>
						<td>电话：</td>
						<td><input type="tel" ng-model="userTel" /></td>
					</tr>
					<tr>
						<td>地址：</td>
						<td><input type="text" ng-model="userAdd" /></td>
					</tr>
					<tr>
						<td>性别：</td>
						<td>
							男<input type="radio" value="男" ng-model="userSex" />
							女<input type="radio" value="女" ng-model="userSex" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a class="btn btn-success" href="#/personalCenter/userList" ng-click="editUser()">确认修改</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>